<!DOCTYPE html>
<html lang="en">
<head>
    <!--选择尺寸-->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title></title>
    <script src=""></script>
    <link rel="stylesheet" href="../../build/css/index.css">
</head>
<body>
<div class="index intercept size">
    <div class="wrap-top">
        <div class="img-shadow">
            <div class="left">
                <div class="b-shu">
                    <span>70</span>
                </div>
            </div>
            <img src="../img/small-img-b.jpg" width="100%" alt="">
            <div class="bottom">
                <div class="b-heng">
                    <span>120</span>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="nav-list">
            <ul>
                <li class="active"><i class="i-rule"></i><span>尺寸(长)</span></li>
                <li><i class="i-write"></i><span>技法</span> <i class="i-tan"></i></li>
            </ul>
        </div>
        <div class="nav-list-content">
            <ul class="rule">
                <li><div>m</div><div>1</div></li>
                <li><div>cm</div><div>20</div></li>
                <li><div>mm</div><div>0</div></li>
            </ul>
            <ul class="skill" style="display: none">
                <li class="active">
                    <img width="100%" src="../img/img-4.jpg"/>  <span>油画</span>
                </li>
                <li>
                    <img width="100%" src="../img/img-3.jpg"/>  <span>丙烯</span>
                </li>
                <li>
                    <img width="100%" src="../img/img-2.jpg"/>  <span>喷绘</span>
                </li>
                <li>
                    <img width="100%" src="../img/img-1.jpg"/>  <span>水彩</span>
                </li>
            </ul>
        </div>
        <div class="nav">
            <ul>
                <li>
                    实付金额：<span class="red">¥1260.00</span>
                </li>
                <li>
                    <a href="order.html">继续</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="../../build/js/index.js"></script>
</body>
</html>