<!DOCTYPE html>
<html lang="en">
<head>
    <!--截取图片-->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title></title>
    <script src=""></script>
    <link rel="stylesheet" href="../../build/css/index.css">
</head>
<body>
<div class="index intercept">
    <div class="img">
        <span></span><img width="100%" src="../../build/img/intersept.jpg"/>
    </div>
    <div class="wrap">
        <div class="title">请截取画面</div>
        <div class="i-buttons">
            <i class="i-left l"></i> 旋转90°<i class="i-right r"></i>
        </div>
        <div class="nav">
            <ul>
                <li>
                    取消
                </li>
                <li>
                    <a href="scene.html">继续</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="../../build/js/index.js"></script>
</body>
</html>