<!DOCTYPE html>
<html lang="en">
<head>
    <!--步骤介绍-->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title></title>
    <script src=""></script>
    <link rel="stylesheet" href="../../build/css/index.css">
</head>
<body>
<div class="wp">
    <div class="wp-inner">
        <div class="page page1">
            <div class="main intro intro-1">
                <div class="top-text">选择图片</div>
                <div class="step-intro-1"></div>
                <footer class="bottom">
                    <a href="main.html" class="msg">跳过&gt;</a>
                    <div class="text">步骤介绍</div>
                </footer>
            </div>
        </div>
        <div class="page page2">
            <div class="main intro intro-2">
                <div class="top-text">截取图片</div>
                <div class="step-intro-2"></div>
                <footer class="bottom">
                    <a href="main.html" class="msg">跳过&gt;</a>
                    <div class="text">步骤介绍</div>
                </footer>
            </div>
        </div>
        <div class="page page3">
            <div class="main intro intro-2">
                <div class="top-text">搭配场景</div>
                <div class="step-intro-3"></div>
                <footer class="bottom">
                    <a href="main.html" class="msg">跳过&gt;</a>
                    <div class="text">步骤介绍</div>
                </footer>
            </div>
        </div>
        <div class="page page4">
            <div class="main intro intro-2">
                <div class="top-text">选择画框</div>
                <div class="step-intro-4 item-1"></div>
                <div class="step-intro-4 item-2"></div>
                <footer class="bottom">
                    <a href="main.html" class="msg">跳过&gt;</a>
                    <div class="text">步骤介绍</div>
                </footer>
            </div>
        </div>
        <div class="page page5">
            <div class="main intro intro-2">
                <div class="top-text">选择尺寸及制作技法</div>
                <div class="step-intro-5 item-3">
                    油画
                </div>
                <div class="step-intro-5 item-4">
                    水彩
                </div>
                <footer class="bottom">
                    <a href="main.html" class="msg">跳过&gt;</a>
                    <div class="text">步骤介绍</div>
                </footer>
            </div>
        </div>
    </div>
</div>

<script src="../../build/js/index.js"></script>
<script src="../../build/js/fullpage.js"></script>
<script>
    $('.wp-inner').fullpage({dir: 'h'});
</script>
</body>
</html>