<!DOCTYPE html>
<html lang="en">
<head>
    <!--主界面-->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title></title>
    <script src=""></script>
    <link rel="stylesheet" href="../../build/css/index.css">
</head>
<body>
<div class="main index">
    <div class="i-bmp"></div>
    <div class="nav">
       <ul>
           <li>
               <a href="intercept.html"><i class="i-btm-1"></i>开始创作</a>
           </li>
           <li>
               <a href="my-gallery.html"><i class="i-btm-2"></i>我的画单</a>
           </li>
           <li>
               <a href="personal.html"><i class="i-btm-3"></i>个人中心</a>
           </li>
       </ul>
    </div>
</div>
<script src="../../build/js/index.js"></script>
</body>
</html>