<!DOCTYPE html>
<html lang="en">
<head>
    <!--我的画单-->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title></title>
    <script src=""></script>
    <link rel="stylesheet" href="../../build/css/index.css">
</head>
<body>
<div class="main index my-gallery">
    <div class="">
        <section>
            <div class="title">已下单</div>
            <div class="list">
                <a href="has-order.html"><img class="img-shadow" src="../img/small-img-b.jpg" alt=""></a>
                <a href="has-order.html"><img class="img-shadow" width="40%" src="../img/small-img-b.jpg" alt=""></a>
                <a href="has-order.html"><img class="img-shadow" src="../img/small-img-b.jpg" alt=""></a>
            </div>
        </section>
        <section>
            <div class="title">全部画作</div>
            <div class="list">
                <a href="has-order.html"><img class="img-shadow" src="../img/small-img.jpg" alt=""></a>
                <a href="has-order.html"><img class="img-shadow" width="40%" src="../img/small-img.jpg" alt=""></a>
                <a href="has-order.html"><img class="img-shadow" src="../img/small-img.jpg" alt=""></a>
                <i class="i-edit"></i>
            </div>
        </section>
    </div>
    <div class="nav">
       <ul>
           <li>
               <a href="intercept.html"><i class="i-btm-1"></i>开始创作</a>
           </li>
           <li>
               <a href="#"><i class="i-btm-2"></i>我的画单</a>
           </li>
           <li>
               <i class="i-btm-3"></i>个人中心
           </li>
       </ul>
    </div>
</div>
<script src="../../build/js/index.js"></script>
</body>
</html>