<!DOCTYPE html>
<html lang="en">
<head>
    <!--生成订单-->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title></title>
    <script src=""></script>
    <link rel="stylesheet" href="../../build/css/index.css">
</head>
<body>
<div class="index intercept size order">
    <section class="addr">
        <p class="name">李大有    158****9549</p>
        <p class="msg"><i class="i-addr"></i>浙江省杭州市西湖区全区 转塘镇新帝郎郡 朗润园</p>
        <i class="i-add"></i>
    </section>
    <section>
        <ul class="ul-img">
            <li>
                <div class="img-shadow">
                    <img src="../img/small-img.jpg" width="100%" alt="">
                </div>
            </li>
            <li>
               <p class="name">李大有的画作</p>
               <p class="msg">尺寸（190mm*200mm <span>/</span>画框（白杨木）<span>/</span>技法(油画）</p>
            </li>
        </ul>
        <i class="i-number">1</i>
    </section>
    <section class="add-sec">
        <i class="icon i-add-a"></i>添加画作       （指定到“我的画单”）
    </section>
    <section>
        <ul class="pay">
            <li class="l">支付方式</li>
            <li class="r">在线支付&nbsp;&nbsp;&gt;</li>
        </ul>
    </section>
    <section>
        <ul class="detail">
            <li><div class="l"><i class="triangle-down"></i>商品总额：</div><div class="r">¥1260.00</div></li>
            <li><div class="l">尺寸（190mm*200mm）：</div><div class="r">¥900.00</div></li>
            <li><div class="l">画框（白杨木）：</div><div class="r">¥100.00</div></li>
            <li><div class="l">技法(油画）：</div><div class="r">¥260.00</div></li>
            <li><div class="l">运费：</div><div class="r">¥0.00</div></li>
        </ul>
    </section>
    <div class="nav">
        <ul>
            <li>
                实付金额：<span class="red">¥1260.00</span>
            </li>
            <li>
                <a href="#">继续</a>
            </li>
        </ul>
    </div>
</div>
<script src="../../build/js/index.js"></script>
</body>
</html>