<!DOCTYPE html>
<html lang="en">
<head>
    <!--个人中心-->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title></title>
    <script src=""></script>
    <link rel="stylesheet" href="../../build/css/index.css">
</head>
<body>
<div class="index order personal">
    <section class="addr">
        <p class="name">李大有    158****9549</p>
        <p class="msg"><i class="i-addr"></i>浙江省杭州市西湖区全区 转塘镇新帝郎郡 朗润园</p>
    </section>
    <section class="add-sec">
        <i class="icon i-add-a"></i>管理收货地址
    </section>
    <section class="add-sec">
        <i class="icon i-add-a i-dui"></i>查看订单状态
    </section>
    <section>
        <ul class="ul-img">
            <li>
                <div class="img-shadow">
                    <img src="../img/small-img.jpg" width="100%" alt="">
                </div>
            </li>
            <li>
                <p class="name">李大有的画作 <span class="r red">制作中</span></p>
                <p class="msg">尺寸（190mm*200mm <span>/</span>画框（白杨木）<span>/</span>技法(油画）</p>
            </li>
        </ul>
    </section>
    <div class="btm-section">
        <section>
            制作步骤
        </section>
        <section>
            联系我们
        </section>
        <section class="black">
            退出登录
        </section>
    </div>

    <div class="nav">
        <ul>
            <li>
                <a href="intercept.html"><i class="i-btm-1"></i>开始创作</a>
            </li>
            <li>
                <a href="my-gallery.html"><i class="i-btm-2"></i>我的画单</a>
            </li>
            <li>
                <a href="personal.html"><i class="i-btm-3"></i>个人中心</a>
            </li>
        </ul>
    </div>
</div>
<script src="../../build/js/index.js"></script>
</body>
</html>