<!DOCTYPE html>
<html lang="en">
<head>
    <!--注册-->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title></title>
    <script src=""></script>
    <link rel="stylesheet" href="../../build/css/index.css">
</head>
<body>
<div class="main regist">
    <div class="box top-box">微信注册</div>
    <div class="box btm-box">手机注册</div>
    <footer class="bottom">
        <p class="text">立即创作你的画布</p>
    </footer>
</div>
<script src="../../build/js/index.js"></script>
</body>
</html>