<!DOCTYPE html>
<html lang="en">
<head>
    <!--图片加场景-->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title></title>
    <script src=""></script>
    <link rel="stylesheet" href="../../build/css/index.css">
</head>
<body>
<div class="index intercept scene">
    <div class="img"><span></span><img class="img-shadow" width="70%" src="../../build/img/intersept.jpg"/></div>
    <div class="wrap">
        <div class="title">需要个场景吗？</div>
        <div class="icon i-add"></div>
        <div class="nav">
            <ul>
                <li>
                    取消
                </li>
                <li>
                    <a href="zoom.html">继续</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="../../build/js/index.js"></script>
</body>
</html>