<!DOCTYPE html>
<html lang="en">
<head>
    <!--保存与分享-->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title></title>
    <script src=""></script>
    <link rel="stylesheet" href="../../build/css/index.css">
</head>
<body>
<div class="index intercept scene">
    <div class="img">
        <span></span><img width="100%" src="../../src/img/scene-bg.jpg"/>
        <div class="img-frame img-item">
            <img src="../img/i-frame-2.png" class="border" id="borderImg"/>
            <img src="../img/small-img.jpg" class="front"  data-with="554" data-height="310" id="frontImg"/>
        </div>
    </div>
    <div class="wrap">
        <div class="share">
            <ul>
                <li><i class="i-wx"></i><p>分享到微信</p></li>
                <li><i class="i-friend"></i><p>分享到朋友圈</p></li>
                <li><i class="i-down"></i><p>存储到相册</p></li>
            </ul>
        </div>
        <div class="nav">
            <ul>
                <li>
                    取消
                </li>
                <li>
                    <a href="choose-size.html">继续</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="../../build/js/index.js"></script>
</body>
</html>